@model Category
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="padding-top:140px">

        <div class="row">
            <div class="col-lg-8">
                <form method="post">
                    <div class="form-group">
                        <label>cat name</label>
                        <input asp-for="Name" type="text" class="form-control" placeholder="Enter cat name">
                        <span asp-validation-for="Name" class="text-danger"></span>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>


