<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1f2890de0d.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/font/flaticon.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader End -->
    <!-- header started -->
    <header>
        <section id="navbar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a  asp-controller="home" asp-action="index" class="navbar-brand" >
                    <img class="logo-light" src="assets/img/logo-light.png" alt="">
                    <img class="logo-black" src="assets/img/logo.png" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
                  <vc:header-component></vc:header-component>
                    <div class="nav-icons">
                        <ul>
                            <li class="nav-item dropdown no-arrow mx-1 osahan-list-dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="far fa-bell"></i>
                                    <span class="badge badge-info badge-counter">6</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                    <h6 class="dropdown-header">
                                        Alerts Center
                                    </h6>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-primary">
                                                <i class="feather-download-cloud text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 12, 2020</div>
                                            <span class="font-weight-bold">
                                                A new monthly report is ready to
                                                download!
                                            </span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-success">
                                                <i class="feather-edit text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 7, 2020</div>
                                            $290.29 has been deposited into your account!
                                        </div>
                                    </a>
                                    <a class="dropdown-item d-flex align-items-center" href="#">
                                        <div class="mr-3">
                                            <div class="icon-circle bg-warning">
                                                <i class="feather-folder text-white"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="small text-gray-500">December 2, 2020</div>
                                            Spending Alert: We've noticed unusually high spending for your account.
                                        </div>
                                    </a>
                                    <a class="dropdown-item text-center small text-gray-500" href="#">
                                        Show All
                                        Alerts
                                    </a>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow ml-1 osahan-profile-dropdown">
                                <a class="nav-link dropdown-toggle pr-0" href="#" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <img class="img-profile rounded-circle" src="assets/img/p13.png">
                                </a>

                                <div class="dropdown-menu dropdown-menu-right shadow-sm">
                                    <div class="p-3 d-flex align-items-center">
                                        <div class="dropdown-list-image mr-3">
                                            <img class="rounded-circle" src="assets/img/user.png" alt="">
                                            <div class="status-indicator bg-success"></div>
                                        </div>
                                        <div class="user-profile">
                                            <div class="text-truncate">Shardiova Sahara</div>
                                            <div class="small text-gray-500">Web/Dev.</div>
                                        </div>
                                    </div>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="favorite.html">
                                        <i class="far fa-heart"></i>
                                        Favorite
                                    </a>
                                    <a class="dropdown-item" href="account.html"><i class="far fa-edit"></i> Edit</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="sign-in.html">
                                        <i class="fas fa-sign-out-alt"></i>Logout
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="top-search">
                        <div class="input-group">
                            <form action="#">
                                <input type="text" name="text" class="form-control" placeholder="Search">
                                <button type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>


            </nav>
        </section>
        <!-- navbar end -->
        <!-- header finished -->
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <section id="footer-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="image">
                            <a asp-controller="home" asp-action="index">
                                <img src="assets/img/logo.png" alt="" srcset="">
                            </a>
                        </div>
                        <div class="footer-text">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum
                                has been the industry's standard dummy text...
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 d-flex justify-content-center">
                        <div class="links">
                            <h4>Categories</h4>
                            <ul>
                                <li>
                                    <a href="#">World</a>
                                </li>
                                <li>
                                    <a href="#">Politics</a>
                                </li>
                                <li>
                                    <a href="#">Economy</a>
                                </li>
                                <li>
                                    <a href="#">Business</a>
                                </li>
                                <li>
                                    <a href="#">Technology</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <h4>Contact Info</h4>
                        <p>Possible offering at contempt mr distance stronger an. Attachment excellence announcing</p>
                        <div class="contact-info">
                            <ul>
                                <li>
                                    <strong>Email: </strong> sahra@kataraban.com
                                </li>
                                <li>
                                    <strong>Contact: </strong> +994-77-7372-5577
                                </li>
                            </ul>
                        </div>
                        <ul class="social-icons">
                            <li class="facebook">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li class="youtube">
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="row" style=" padding-bottom: 20px;">
                    <div class="col-lg-6">
                        <div class="validThemes">
                            <p>&copy; Copyright 2021. All Rights Reserved by <a href="#">Kataraban</a></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footerEnd-text ">
                            <ul>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy</a>
                                </li>
                                <li>
                                    <a href="#">Support</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-shape" style="background-image: url(assets/img/footerPic.svg);"></div>

        </section>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>